<!doctype html>
<html>
<head>
    <%include template/head%>
</head>
<body>
    <%include template/nav%>
    <%function dateFormatChange(date){
        var option={
            weekday:'short',year:'numeric',month:'numeric',day:'numeric',hour:'2-digit',minute:'2-digit'
        };
        return date.toLocaleTimeString('ko-KR',option);
    }%>
     <%if(typeof contents!=='undefined'){%>
    <div class="container">
       <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Title</th>
              <th scope="col">Writer</th>
              <th scope="col">Date</th>
              <th scope="col">Count</th>
            </tr>
          </thead>
          <tbody>
             <% contents.forEach(function(elem,i){%>
              <tr>
                  <td><%=++i%></td>
                  <td><a href="/process/contentread?id=<%=elem._id%>"><%=elem.title%></a></td>
                  <td><%=elem.writer%></td>
                  <td><%=dateFormatChange(elem.date)%></td>
                  <td><%=elem.count%></td>
              </tr>
              <%})
              }%>
          </tbody>
        </table>
        <div class="paging">
            <button class="btn btn-primary" id="writing"><a href="/process/contentwriteform" class="wbtn">글쓰기</a></button>
            <input type="text" value="" id="search">
            <%var search=document.getElementById('search').value;
            console.log(search);%>
            <button class="btn btn-dark" id="searchbtn"><a href="/process/contentsearch?search=<%=search%>" class="wbtn">검색</a></button>
        </div>
    </div>
  </body>
</html>